/* Pon tu código css aqui */
.padre{
	width:80%;
	border:black 1px solid;
}
.hijo1{
	width:25%;
	height:100px;
	background-color:yellow;
	float:right;
}
.hijo2{
	width:25%;
	height:100px;
	background-color:blue;
	float:right;
}
.hijo3{
	width:25%;
	height:100px;
	background-color:red;
	float:right;
}